.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.project {
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;
}

.project h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.project p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .projects {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}
