body {
    background-color: #f2f2f2;
    color: #333333;
    font-family: Arial, sans-serif;
}

.content {
    margin: 1rem;
}

@media screen and (max-width: 768px) {
    .content {
        margin: 0.5rem;
    }
}

@media screen and (max-width: 480px) {
    .content {
        margin: 0.25rem;
    }
}
